{% extends "layout.html" %}

{% block title %}
Log in
{% endblock %}

{% block main %}
<form id="form" action="/login" method="POST" onsubmit="return validate()">
    <h1 class="text-center mt-4">Log in</h1>
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" class="form-control rounded-0" type="text" name="email" placeholder="Email" autofocus>
        <div id="email-feedback" class="invalid-feedback">
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" class="form-control rounded-0" type="password" name="password" placeholder="Password">
        <div id="password-feedback" class="invalid-feedback">
        </div>
    </div>
    <div class="form-group">
        <input id="submit" class="btn btn-primary rounded-0" type="submit" value="Log in">
    </div>
</form>
{% endblock %}

{% block script %}
<script>
    function validate() {
        let errors = 0;
        let password = document.querySelector("#password");
        let password_feedback = document.querySelector("#password-feedback");
        let email = document.querySelector("#email");
        let email_feedback = document.querySelector("#email-feedback");

        // Validate password
        if (password.value == "") {
            password.classList.add("is-invalid");
            password_feedback.innerHTML = "You must provide a password!"
            errors++;
        } else if (password.value.length < 6 || password.value.length > 32) {
            password.classList.add("is-invalid");
            password_feedback.innerHTML = "Password must be between 6 and 32 characters!"
            errors++;
        } else {
            password.classList.remove("is-invalid");
        }

        // Validate email
        if (email.value == "") {
            email.classList.add("is-invalid");
            email_feedback.innerHTML = "You must provide an email address!"
            errors++;
        } else if (!email.value.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)) {
            email.classList.add("is-invalid");
            email_feedback.innerHTML = "Email address must be correct!"
            errors++;
        } else {
            email.classList.remove("is-invalid");
        }

        // Check if any errors occured
        // It's done this way so every field will give feedback
        if (errors > 0) {
            return false;
        } else {
            return true;
        }
    }
</script>
{% endblock %}